@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
	font-family: 'Raleway', sans-serif;
}

h2 {
	text-transform: uppercase;
}
button {
	background-color: navy;
	color: white;
}
.title {
	font-family: 'Oswald', sans-serif;
	color: navy;
}

.invalid {
	color: red;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-bottom: 1px solid #dbdbdb;
	padding: 20px;
}
.item1 {
	order: 1;
	flex-grow: 0.25;
}
.item2 {
	order: 3;
	flex-grow: 1;
}

.item-right {
	position: absolute;
	right: 100px;
}
.item-right2 {
	position: absolute;
	right: 200px;
}
.button {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	border: none;
	outline: none;
	font-size: 3em;
	color: gray;
}
input {
	border: none;
	outline: none;
	border-bottom: 1px solid #dbdbdb;
	width: 100%;
	height: 20px;
}
input:focus {
	border-bottom: 1px solid blue;
}

span {
	width: auto;
	height: auto;
	padding: 5px;
	background-color: #dbdbdb;
	border-radius: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 75%;
	height: 75%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid black;
	width: 75%;
}

.close {
  float: right;
}

@media only screen and (min-width: 600px) {
	.main {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		border: solid 2px navy;
		border-radius: 10%;
		padding: 30px;
	}
}
